In [1]:
!pip install requests
!pip install tabulate
!pip install 'colorama>=0.3.8'
!pip install future

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (0.8.9)
Collecting colorama>=0.3.8
  Downloading colorama-0.4.4-py2.py3-none-any.whl (16 kB)
Installing collected packages: colorama
Successfully installed colorama-0.4.4
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (0.16.0)

In [2]:
!pip install h2o

Collecting h2o
  Downloading h2o-3.34.0.7.tar.gz (175.8 MB)
     |████████████████████████████████| 175.8 MB 36 kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.34.0.7-py2.py3-none-any.whl size=175908084 sha256=dc4f9b3d35b583eddfdfcb577d95eafeaa4e4e72f56a8529057c659fcdde0f89
  Stored in directory: /root/.cache/pip/wheels/df/df/05/1f2ac68a5d9bf38b74f2b8218443b2c00f1a5f4f3154ec11b6
Successfully built h2o
Installing collected packages: h2o
Successfully installed h2o-3.34.0.7

In [3]:
import h2o
from h2o.automl import H2OAutoML
h2o.init(max_mem_size='16G')

Checking whether there is an H2O instance running at http://localhost:54321 ..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.13" 2021-10-19; OpenJDK Runtime Environment (build 11.0.13+8-Ubuntu-0ubuntu1.18.04); OpenJDK 64-Bit Server VM (build 11.0.13+8-Ubuntu-0ubuntu1.18.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.7/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmp6y3i8lz5
  JVM stdout: /tmp/tmp6y3i8lz5/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmp6y3i8lz5/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ------------------------------------------------------------------
H2O_cluster_uptime:         03 secs
H2O_cluster_timezone:       Etc/UTC
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.34.0.7
H2O_cluster_version_age:    1 month and 1 day
H2O_cluster_name:           H2O_from_python_unknownUser_9nq6r8
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    16 Gb
H2O_cluster_total_cores:    2
H2O_cluster_allowed_cores:  2
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
H2O_API_Extensions:         Amazon S3, XGBoost, Algos, AutoML, Core V3, TargetEncoder, Core V4
Python_version:             3.7.12 final
--------------------------  ------------------------------------------------------------------

In [4]:
churn_data=h2o.import_file('/content/drive/MyDrive/Colab Notebooks/Customer+churn+files.zip (Unzipped Files)/Notebook/Churn Modeling.csv')

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [5]:
churn_data.head()

RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1,1.56346e+07,Hargrave,619,France,Female,42,2,0,1,1,1,101349,1
2,1.56473e+07,Hill,608,Spain,Female,41,1,83807.9,1,0,1,112543,0
3,1.56193e+07,Onio,502,France,Female,42,8,159661,3,1,0,113932,1
4,1.57014e+07,Boni,699,France,Female,39,1,0,2,0,0,93826.6,0
5,1.57379e+07,Mitchell,850,Spain,Female,43,2,125511,1,1,1,79084.1,0
6,1.5574e+07,Chu,645,Spain,Male,44,8,113756,2,1,0,149757,1
7,1.55925e+07,Bartlett,822,France,Male,50,7,0,2,1,1,10062.8,0
8,1.56561e+07,Obinna,376,Germany,Female,29,4,115047,4,1,0,119347,1
9,1.57924e+07,He,501,France,Male,44,4,142051,2,0,1,74940.5,0
10,1.55924e+07,H?,684,France,Male,27,2,134604,1,1,1,71725.7,0

In [6]:
churn_data_train,churn_data_test=churn_data.split_frame(ratios=[0.8])

In [7]:
churn_data_train

RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
1,1.56346e+07,Hargrave,619,France,Female,42,2,0,1,1,1,101349,1
3,1.56193e+07,Onio,502,France,Female,42,8,159661,3,1,0,113932,1
4,1.57014e+07,Boni,699,France,Female,39,1,0,2,0,0,93826.6,0
5,1.57379e+07,Mitchell,850,Spain,Female,43,2,125511,1,1,1,79084.1,0
6,1.5574e+07,Chu,645,Spain,Male,44,8,113756,2,1,0,149757,1
7,1.55925e+07,Bartlett,822,France,Male,50,7,0,2,1,1,10062.8,0
9,1.57924e+07,He,501,France,Male,44,4,142051,2,0,1,74940.5,0
10,1.55924e+07,H?,684,France,Male,27,2,134604,1,1,1,71725.7,0
11,1.57678e+07,Bearce,528,France,Male,31,6,102017,2,0,0,80181.1,0
12,1.57372e+07,Andrews,497,Spain,Male,24,3,0,2,1,0,76390,0

In [8]:
y='Exited'
x=churn_data.columns
x.remove(y)
x.remove('CustomerId')
x.remove('Surname')
x.remove('RowNumber')

In [9]:
aml=H2OAutoML(max_runtime_secs=300,max_models=10,verbosity='info',nfolds=0,seed=10)

In [10]:
aml.train(x=x,y=y,training_frame=churn_data_train)

AutoML progress: |
07:43:26.268: Project: AutoML_1_20220123_74326
07:43:26.270: Cross-validation disabled by user: no fold column nor nfolds > 1.
07:43:26.278: Setting stopping tolerance adaptively based on the training frame: 0.01115318704636506
07:43:26.279: Build control seed: 10
07:43:26.280: Since cross-validation is disabled, and none of validation frame and leaderboard frame were provided, automatically split the training data into training, validation and leaderboard frames in the ratio 80/10/10
07:43:26.378: training frame: Frame key: AutoML_1_20220123_74326_training_py_3_sid_bcba    cols: 14    rows: 6413  chunks: 8    size: 448804  checksum: 3084066995262909508
07:43:26.393: validation frame: Frame key: AutoML_1_20220123_74326_validation_py_3_sid_bcba    cols: 14    rows: 830  chunks: 8    size: 278518  checksum: -1594256810509285939
07:43:26.404: leaderboard frame: Frame key: AutoML_1_20220123_74326_leaderboard_py_3_sid_bcba    cols: 14    rows: 796  chunks: 8    size: 277486  checksum: 185897682671224232
07:43:26.404: blending frame: NULL
07:43:26.404: response column: Exited
07:43:26.404: fold column: null
07:43:26.404: weights column: null
07:43:26.420: Loading execution steps: [{XGBoost : [def_2 (1g, 10w), def_1 (2g, 10w), def_3 (3g, 10w), grid_1 (4g, 90w), lr_search (6g, 30w)]}, {GLM : [def_1 (1g, 10w)]}, {DRF : [def_1 (2g, 10w), XRT (3g, 10w)]}, {GBM : [def_5 (1g, 10w), def_2 (2g, 10w), def_3 (2g, 10w), def_4 (2g, 10w), def_1 (3g, 10w), grid_1 (4g, 60w), lr_annealing (6g, 10w)]}, {DeepLearning : [def_1 (3g, 10w), grid_1 (4g, 30w), grid_2 (5g, 30w), grid_3 (5g, 30w)]}, {completion : [resume_best_grids (10g, 60w)]}, {StackedEnsemble : [best_of_family_1 (1g, 5w), best_of_family_2 (2g, 5w), best_of_family_3 (3g, 5w), best_of_family_4 (4g, 5w), best_of_family_5 (5g, 5w), all_2 (2g, 10w), all_3 (3g, 10w), all_4 (4g, 10w), all_5 (5g, 10w), monotonic (6g, 10w), best_of_family_xgboost (6g, 10w), best_of_family_gbm (6g, 10w), all_xgboost (7g, 10w), all_gbm (7g, 10w), best_of_family_xglm (8g, 10w), all_xglm (8g, 10w), best_of_family (10g, 10w), best_N (10g, 10w)]}]
07:43:26.461: AutoML job created: 2022.01.23 07:43:26.237
07:43:26.462: AutoML build started: 2022.01.23 07:43:26.461
07:43:26.477: AutoML: starting XGBoost_1_AutoML_1_20220123_74326 model training
07:43:26.491: _response param, Response is numeric, so the regression model will be trained. However, the cardinality is equaled to two, so if you want to train a classification model, convert the response column to categorical before training.


07:43:28.560: New leader: XGBoost_1_AutoML_1_20220123_74326, mean_residual_deviance: 0.12151320035030932
07:43:28.564: AutoML: starting GLM_1_AutoML_1_20220123_74326 model training
07:43:28.566: _response param, Response is numeric, so the regression model will be trained. However, the cardinality is equaled to two, so if you want to train a classification model, convert the response column to categorical before training.

█
07:43:29.588: AutoML: starting GBM_1_AutoML_1_20220123_74326 model training
07:43:29.593: _response param, Response is numeric, so the regression model will be trained. However, the cardinality is equaled to two, so if you want to train a classification model, convert the response column to categorical before training.

██
07:43:32.631: New leader: GBM_1_AutoML_1_20220123_74326, mean_residual_deviance: 0.10194442591360979
07:43:32.631: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'best_of_family_1'.
07:43:32.632: AutoML: starting XGBoost_2_AutoML_1_20220123_74326 model training
07:43:32.634: _response param, Response is numeric, so the regression model will be trained. However, the cardinality is equaled to two, so if you want to train a classification model, convert the response column to categorical before training.
07:43:33.652: AutoML: starting DRF_1_AutoML_1_20220123_74326 model training
07:43:33.653: _response param, Response is numeric, so the regression model will be trained. However, the cardinality is equaled to two, so if you want to train a classification model, convert the response column to categorical before training.

██
07:43:36.700: AutoML: starting GBM_2_AutoML_1_20220123_74326 model training
07:43:36.702: _response param, Response is numeric, so the regression model will be trained. However, the cardinality is equaled to two, so if you want to train a classification model, convert the response column to categorical before training.


07:43:37.742: AutoML: starting GBM_3_AutoML_1_20220123_74326 model training
07:43:37.744: _response param, Response is numeric, so the regression model will be trained. However, the cardinality is equaled to two, so if you want to train a classification model, convert the response column to categorical before training.

██
07:43:39.764: New leader: GBM_3_AutoML_1_20220123_74326, mean_residual_deviance: 0.1015122526329527
07:43:39.765: AutoML: starting GBM_4_AutoML_1_20220123_74326 model training
07:43:39.772: _response param, Response is numeric, so the regression model will be trained. However, the cardinality is equaled to two, so if you want to train a classification model, convert the response column to categorical before training.

█
07:43:41.797: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'best_of_family_2'.
07:43:41.799: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'all_2'.
07:43:41.799: AutoML: starting XGBoost_3_AutoML_1_20220123_74326 model training
07:43:41.800: _response param, Response is numeric, so the regression model will be trained. However, the cardinality is equaled to two, so if you want to train a classification model, convert the response column to categorical before training.

█
07:43:42.815: AutoML: starting XRT_1_AutoML_1_20220123_74326 model training
07:43:42.816: _response param, Response is numeric, so the regression model will be trained. However, the cardinality is equaled to two, so if you want to train a classification model, convert the response column to categorical before training.

██████████████████████████████████████████████████████| (done) 100%

07:43:45.860: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'best_of_family_3'.
07:43:45.860: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'all_3'.
07:43:45.860: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'best_of_family_4'.
07:43:45.860: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'all_4'.
07:43:45.861: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'best_of_family_5'.
07:43:45.861: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'all_5'.
07:43:45.869: No base models, due to timeouts or the exclude_algos option. Skipping StackedEnsemble 'monotonic'.
07:43:45.870: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'best_of_family_xgboost'.
07:43:45.870: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'best_of_family_gbm'.
07:43:45.870: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'all_xgboost'.
07:43:45.870: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'all_gbm'.
07:43:45.871: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'best_of_family_xglm'.
07:43:45.871: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'all_xglm'.
07:43:45.871: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'best_of_family'.
07:43:45.877: Cross-validation is disabled by the user and no blending frame was provided; skipping StackedEnsemble 'best_N'.
07:43:45.878: Actual modeling steps: [{XGBoost : [def_2 (1g, 10w)]}, {GLM : [def_1 (1g, 10w)]}, {GBM : [def_5 (1g, 10w)]}, {XGBoost : [def_1 (2g, 10w)]}, {DRF : [def_1 (2g, 10w)]}, {GBM : [def_2 (2g, 10w), def_3 (2g, 10w), def_4 (2g, 10w)]}, {XGBoost : [def_3 (3g, 10w)]}, {DRF : [XRT (3g, 10w)]}]
07:43:45.878: AutoML build stopped: 2022.01.23 07:43:45.878
07:43:45.878: AutoML build done: built 10 models
07:43:45.878: AutoML duration: 19.417 sec

Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_3_AutoML_1_20220123_74326


Model Summary:

     number_of_trees  ...  max_leaves  mean_leaves
0               50.0  ...       132.0        79.48

[1 rows x 10 columns]

ModelMetricsRegression: gbm
** Reported on train data. **

MSE: 0.06815545951018244
RMSE: 0.2610660060409674
MAE: 0.16758945433980185
RMSLE: 0.1815700411325247
Mean Residual Deviance: 0.06815545951018244

ModelMetricsRegression: gbm
** Reported on validation data. **

MSE: 0.10500871345544817
RMSE: 0.3240504797951211
MAE: 0.213855536072082
RMSLE: 0.2273680505396469
Mean Residual Deviance: 0.10500871345544817

Scoring History:

                timestamp  ... validation_mae  validation_deviance
0     2022-01-23 07:43:37  ...       0.328706             0.166438
1     2022-01-23 07:43:37  ...       0.285342             0.129810
2     2022-01-23 07:43:37  ...       0.257259             0.115025
3     2022-01-23 07:43:38  ...       0.243173             0.109647
4     2022-01-23 07:43:38  ...       0.231021             0.107430
5     2022-01-23 07:43:38  ...       0.224881             0.106416
6     2022-01-23 07:43:38  ...       0.220159             0.105786
7     2022-01-23 07:43:38  ...       0.217243             0.105433
8     2022-01-23 07:43:38  ...       0.214639             0.104831
9     2022-01-23 07:43:38  ...       0.214132             0.105216
10    2022-01-23 07:43:38  ...       0.213856             0.105009

[11 rows x 10 columns]

Variable Importances:

          variable  relative_importance  scaled_importance  percentage
0              Age           910.996521           1.000000    0.305357
1    NumOfProducts           572.487671           0.628419    0.191892
2          Balance           418.957825           0.459890    0.140431
3  EstimatedSalary           268.025299           0.294211    0.089839
4   IsActiveMember           211.602966           0.232276    0.070927
5      CreditScore           209.963486           0.230477    0.070378
6           Tenure           161.954056           0.177777    0.054285
7        Geography           138.045349           0.151532    0.046271
8           Gender            57.177696           0.062764    0.019165
9        HasCrCard            34.168659           0.037507    0.011453

In [11]:
lb=aml.leaderboard

In [12]:
lb

model_id,mean_residual_deviance,rmse,mse,mae,rmsle
GBM_3_AutoML_1_20220123_74326,0.101512,0.31861,0.101512,0.205341,0.223632
GBM_1_AutoML_1_20220123_74326,0.101944,0.319287,0.101944,0.20942,0.223568
XGBoost_3_AutoML_1_20220123_74326,0.10372,0.322056,0.10372,0.210321,0.225948
GBM_2_AutoML_1_20220123_74326,0.103829,0.322225,0.103829,0.209144,0.225621
DRF_1_AutoML_1_20220123_74326,0.104751,0.323652,0.104751,0.211067,0.228207
GBM_4_AutoML_1_20220123_74326,0.105479,0.324775,0.105479,0.209494,0.228443
XRT_1_AutoML_1_20220123_74326,0.111336,0.33367,0.111336,0.241538,0.237706
XGBoost_2_AutoML_1_20220123_74326,0.121075,0.347958,0.121075,0.232958,0.249895
XGBoost_1_AutoML_1_20220123_74326,0.121513,0.348587,0.121513,0.240582,0.252577
GLM_1_AutoML_1_20220123_74326,0.140571,0.374927,0.140571,0.286445,0.264489

In [13]:
model_ids=list(aml.leaderboard['model_id'].as_data_frame().iloc[:,0])

In [14]:
model_ids

['GBM_3_AutoML_1_20220123_74326',
 'GBM_1_AutoML_1_20220123_74326',
 'XGBoost_3_AutoML_1_20220123_74326',
 'GBM_2_AutoML_1_20220123_74326',
 'DRF_1_AutoML_1_20220123_74326',
 'GBM_4_AutoML_1_20220123_74326',
 'XRT_1_AutoML_1_20220123_74326',
 'XGBoost_2_AutoML_1_20220123_74326',
 'XGBoost_1_AutoML_1_20220123_74326',
 'GLM_1_AutoML_1_20220123_74326']

In [15]:
aml.leader.model_performance(churn_data_test)

ModelMetricsRegression: gbm
** Reported on test data. **

MSE: 0.10109345569169619
RMSE: 0.31795197073095205
MAE: 0.2057116880944887
RMSLE: 0.22405332999806785
Mean Residual Deviance: 0.10109345569169619

In [16]:
models=h2o.get_model([mid for mid in model_ids if 'GBM' in  mid][0])

In [17]:
models

Model Details
=============
H2OGradientBoostingEstimator :  Gradient Boosting Machine
Model Key:  GBM_3_AutoML_1_20220123_74326


Model Summary:

     number_of_trees  ...  max_leaves  mean_leaves
0               50.0  ...       132.0        79.48

[1 rows x 10 columns]

ModelMetricsRegression: gbm
** Reported on train data. **

MSE: 0.06815545951018244
RMSE: 0.2610660060409674
MAE: 0.16758945433980185
RMSLE: 0.1815700411325247
Mean Residual Deviance: 0.06815545951018244

ModelMetricsRegression: gbm
** Reported on validation data. **

MSE: 0.10500871345544817
RMSE: 0.3240504797951211
MAE: 0.213855536072082
RMSLE: 0.2273680505396469
Mean Residual Deviance: 0.10500871345544817

Scoring History:

                timestamp  ... validation_mae  validation_deviance
0     2022-01-23 07:43:37  ...       0.328706             0.166438
1     2022-01-23 07:43:37  ...       0.285342             0.129810
2     2022-01-23 07:43:37  ...       0.257259             0.115025
3     2022-01-23 07:43:38  ...       0.243173             0.109647
4     2022-01-23 07:43:38  ...       0.231021             0.107430
5     2022-01-23 07:43:38  ...       0.224881             0.106416
6     2022-01-23 07:43:38  ...       0.220159             0.105786
7     2022-01-23 07:43:38  ...       0.217243             0.105433
8     2022-01-23 07:43:38  ...       0.214639             0.104831
9     2022-01-23 07:43:38  ...       0.214132             0.105216
10    2022-01-23 07:43:38  ...       0.213856             0.105009

[11 rows x 10 columns]

Variable Importances:

          variable  relative_importance  scaled_importance  percentage
0              Age           910.996521           1.000000    0.305357
1    NumOfProducts           572.487671           0.628419    0.191892
2          Balance           418.957825           0.459890    0.140431
3  EstimatedSalary           268.025299           0.294211    0.089839
4   IsActiveMember           211.602966           0.232276    0.070927
5      CreditScore           209.963486           0.230477    0.070378
6           Tenure           161.954056           0.177777    0.054285
7        Geography           138.045349           0.151532    0.046271
8           Gender            57.177696           0.062764    0.019165
9        HasCrCard            34.168659           0.037507    0.011453

In [18]:
models.params

{'auc_type': {'actual': 'AUTO', 'default': 'AUTO', 'input': 'AUTO'},
 'balance_classes': {'actual': False, 'default': False, 'input': False},
 'build_tree_one_node': {'actual': False, 'default': False, 'input': False},
 'calibrate_model': {'actual': False, 'default': False, 'input': False},
 'calibration_frame': {'actual': None, 'default': None, 'input': None},
 'categorical_encoding': {'actual': 'Enum',
  'default': 'AUTO',
  'input': 'AUTO'},
 'check_constant_response': {'actual': True, 'default': True, 'input': True},
 'checkpoint': {'actual': None, 'default': None, 'input': None},
 'class_sampling_factors': {'actual': None, 'default': None, 'input': None},
 'col_sample_rate': {'actual': 0.8, 'default': 1.0, 'input': 0.8},
 'col_sample_rate_change_per_level': {'actual': 1.0,
  'default': 1.0,
  'input': 1.0},
 'col_sample_rate_per_tree': {'actual': 0.8, 'default': 1.0, 'input': 0.8},
 'custom_distribution_func': {'actual': None, 'default': None, 'input': None},
 'custom_metric_func': {'actual': None, 'default': None, 'input': None},
 'distribution': {'actual': 'gaussian', 'default': 'AUTO', 'input': 'AUTO'},
 'export_checkpoints_dir': {'actual': None, 'default': None, 'input': None},
 'fold_assignment': {'actual': None, 'default': 'AUTO', 'input': 'AUTO'},
 'fold_column': {'actual': None, 'default': None, 'input': None},
 'gainslift_bins': {'actual': -1, 'default': -1, 'input': -1},
 'histogram_type': {'actual': 'UniformAdaptive',
  'default': 'AUTO',
  'input': 'AUTO'},
 'huber_alpha': {'actual': 0.9, 'default': 0.9, 'input': 0.9},
 'ignore_const_cols': {'actual': True, 'default': True, 'input': True},
 'ignored_columns': {'actual': ['RowNumber', 'Surname', 'CustomerId'],
  'default': None,
  'input': ['RowNumber', 'Surname', 'CustomerId']},
 'keep_cross_validation_fold_assignment': {'actual': False,
  'default': False,
  'input': False},
 'keep_cross_validation_models': {'actual': False,
  'default': True,
  'input': False},
 'keep_cross_validation_predictions': {'actual': True,
  'default': False,
  'input': True},
 'learn_rate': {'actual': 0.1, 'default': 0.1, 'input': 0.1},
 'learn_rate_annealing': {'actual': 1.0, 'default': 1.0, 'input': 1.0},
 'max_abs_leafnode_pred': {'actual': 1.7976931348623157e+308,
  'default': 1.7976931348623157e+308,
  'input': 1.7976931348623157e+308},
 'max_after_balance_size': {'actual': 5.0, 'default': 5.0, 'input': 5.0},
 'max_confusion_matrix_size': {'actual': 20, 'default': 20, 'input': 20},
 'max_depth': {'actual': 8, 'default': 5, 'input': 8},
 'max_runtime_secs': {'actual': 82.4914296875,
  'default': 0.0,
  'input': 82.4914296875},
 'min_rows': {'actual': 10.0, 'default': 10.0, 'input': 10.0},
 'min_split_improvement': {'actual': 1e-05, 'default': 1e-05, 'input': 1e-05},
 'model_id': {'actual': {'URL': '/3/Models/GBM_3_AutoML_1_20220123_74326',
   '__meta': {'schema_name': 'ModelKeyV3',
    'schema_type': 'Key<Model>',
    'schema_version': 3},
   'name': 'GBM_3_AutoML_1_20220123_74326',
   'type': 'Key<Model>'},
  'default': None,
  'input': None},
 'monotone_constraints': {'actual': None, 'default': None, 'input': None},
 'nbins': {'actual': 20, 'default': 20, 'input': 20},
 'nbins_cats': {'actual': 1024, 'default': 1024, 'input': 1024},
 'nbins_top_level': {'actual': 1024, 'default': 1024, 'input': 1024},
 'nfolds': {'actual': 0, 'default': 0, 'input': 0},
 'ntrees': {'actual': 10000, 'default': 50, 'input': 10000},
 'offset_column': {'actual': None, 'default': None, 'input': None},
 'pred_noise_bandwidth': {'actual': 0.0, 'default': 0.0, 'input': 0.0},
 'quantile_alpha': {'actual': 0.5, 'default': 0.5, 'input': 0.5},
 'r2_stopping': {'actual': 1.7976931348623157e+308,
  'default': 1.7976931348623157e+308,
  'input': 1.7976931348623157e+308},
 'response_column': {'actual': {'__meta': {'schema_name': 'ColSpecifierV3',
    'schema_type': 'VecSpecifier',
    'schema_version': 3},
   'column_name': 'Exited',
   'is_member_of_frames': None},
  'default': None,
  'input': {'__meta': {'schema_name': 'ColSpecifierV3',
    'schema_type': 'VecSpecifier',
    'schema_version': 3},
   'column_name': 'Exited',
   'is_member_of_frames': None}},
 'sample_rate': {'actual': 0.8, 'default': 1.0, 'input': 0.8},
 'sample_rate_per_class': {'actual': None, 'default': None, 'input': None},
 'score_each_iteration': {'actual': False, 'default': False, 'input': False},
 'score_tree_interval': {'actual': 5, 'default': 0, 'input': 5},
 'seed': {'actual': 16, 'default': -1, 'input': 16},
 'stopping_metric': {'actual': 'deviance',
  'default': 'AUTO',
  'input': 'deviance'},
 'stopping_rounds': {'actual': 3, 'default': 0, 'input': 3},
 'stopping_tolerance': {'actual': 0.01115318704636506,
  'default': 0.001,
  'input': 0.01115318704636506},
 'training_frame': {'actual': {'URL': '/3/Frames/AutoML_1_20220123_74326_training_py_3_sid_bcba',
   '__meta': {'schema_name': 'FrameKeyV3',
    'schema_type': 'Key<Frame>',
    'schema_version': 3},
   'name': 'AutoML_1_20220123_74326_training_py_3_sid_bcba',
   'type': 'Key<Frame>'},
  'default': None,
  'input': {'URL': '/3/Frames/AutoML_1_20220123_74326_training_py_3_sid_bcba',
   '__meta': {'schema_name': 'FrameKeyV3',
    'schema_type': 'Key<Frame>',
    'schema_version': 3},
   'name': 'AutoML_1_20220123_74326_training_py_3_sid_bcba',
   'type': 'Key<Frame>'}},
 'tweedie_power': {'actual': 1.5, 'default': 1.5, 'input': 1.5},
 'validation_frame': {'actual': {'URL': '/3/Frames/AutoML_1_20220123_74326_validation_py_3_sid_bcba',
   '__meta': {'schema_name': 'FrameKeyV3',
    'schema_type': 'Key<Frame>',
    'schema_version': 3},
   'name': 'AutoML_1_20220123_74326_validation_py_3_sid_bcba',
   'type': 'Key<Frame>'},
  'default': None,
  'input': {'URL': '/3/Frames/AutoML_1_20220123_74326_validation_py_3_sid_bcba',
   '__meta': {'schema_name': 'FrameKeyV3',
    'schema_type': 'Key<Frame>',
    'schema_version': 3},
   'name': 'AutoML_1_20220123_74326_validation_py_3_sid_bcba',
   'type': 'Key<Frame>'}},
 'weights_column': {'actual': None, 'default': None, 'input': None}}

In [19]:
y_preds=aml.leader.predict(churn_data_test)

gbm prediction progress: |███████████████████████████████████████████████████████| (done) 100%

In [33]:
y_preds

predict
0.237336
1.1436
0.181587
0.0416541
0.450554
0.0228652
0.370057
0.370642
0.00967723
0.0478304